*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 20cm;
    flex-direction: column;
    display: flex;
}

aside{
    width: 200px;
    height:100%;
    background-color:rgb(178, 205, 227) ;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(146, 162, 178);
    height: 10%;

}
a{
    display: flex;
    margin: 20px;
    flex-direction: column;
    text-decoration: none;
    color: #2b2b2b;
}
a:hover{
    color: #2b2bb2 ;
    transition-delay: 300ms;

}
.content{
    display: flex;
    margin-top: 20rem;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;


}





img{
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: rgb(128, 128, 128);
    border-radius: 100px;
}
h4{
    background-color:rgb(192, 211, 227);
 }